
<div class="body1">
		<h1>Our Team</h1>
		<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br>
		semperaliquam quis mattis quam.</h5>

	<div class="container">
		<div class="row">
			<div class="col-md-3 team">
				<img src="../assets/img/Vilas.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
					<div class="name">Vilas Shetkar</div>
						<div class="place">CEO,Managing Director</div>
							<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</h6>
							<a class="fab fa-facebook-f icon"></a>
								<a class="fab fa-twitter icon"></a>
							<a class="fab fa-google-plus-g icon"></a>

			</div>
					<div class="col-md-3 team">
						<img src="../assets/img/ashwini.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
							<div class="name">Ashwini Shetkar</div>
								<div class="place1">Director</div>
									<div class="director">
										<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</h6>
										<a class="fab fa-facebook-f icon"></a>
											<a class="fab fa-twitter icon"></a>
										<a class="fab fa-google-plus-g icon"></a>
									</div>
					</div>
					<div class="col-md-3 team">
						<img src="../assets/img/image1.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
							<div class="name">Mayuri Jadhav</div>
								<div class="place2">Web Designer</div>
							<div class="director">
								<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</h6>
									<a class="fab fa-facebook-f icon"></a>
										<a class="fab fa-twitter icon"></a>
									<a class="fab fa-google-plus-g icon"></a>
							</div>
					</div>
					<div class="col-md-3 team">
						<img src="../assets/img/33.jpg" class="rounded-circle" alt="Cinque Terre" width="150" height="150">
							<div class="name">Shalan Ubale</div>
								<div class="place2">Web Developer</div>
							<div class="director">
								<h6 class="information">Lorem ipsum dolor sit amet, consectetur adipiscing elit eget risus vitae massa.</h6>
								<a class="fab fa-facebook-f icon"></a>
									<a class="fab fa-twitter icon"></a>
								<a class="fab fa-google-plus-g icon"></a>
							</div>
					</div>
		</div>
	</div>
</div>