
.body{
		
		margin-top:0px;
		background-color:black;
		
}
h1{
	text-align:center;
	color:#e7185c;
}
h3{
	color:white;
	font-size:21px;
	text-align:center;
}
.margin{
	word-wrap:normal;
	text-indent:90px;
	font-weight:500;
	color:white;

}

.col-sm-10{
	border:1px solid black;
	padding:60px;
}