<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h1>About Us</h1>
				<h2>"Efficient Website Designing With The Most Effective Outcomes!!!"</h2>
				<hr>
				<h3>Our Vision:-</h3>
				<p>Our vision is to develop in a constant manner and grow as amajor IT service provider to become a leading performer, in providing quality Web and Software Development solutions in the competitive global marketplace. Our professional, flexible and integrated process reflects in what we do. We always guide our customers to success. We have the ability to accelerate and quickly share the great work or products of your organization or business.</p>
				<hr>
				<h3>Our Mission:-</h3>
				<p>Our mission is to deliver optimal solutions with quality and services at reasonable prices. For us customer satisfaction is given top place. We are very friendly in our dealings to the customers and it helps us retain existing clients and expand customer circle. We always try to improve the quality of our products by exploring innovative ideas.</p>
				<hr>
				<h3>About Us:-</h3>
				<p>Web Touch India Solutions. Founded in 2010, has more than 6+ years of experience in the Web Development and IT Services. Web Touch India Solutions have highly skilled employee. Web Touch India Solutions is a speedily growing company in Pune City.</p>
				
				<p>We fulfilling the requirements of the customers in the areas of web site designing and development, Web Application Development (ASP.NET, PHP), Mobile Application Development (Android, iOS, Windows).</p>
				
				<p>We also provide service for Print Media. We offer Brochures design, Logo design, Press Advertisements, CD Rom / Corporate Multimedia Presentations, etc., Custom made designs to suit your unique business needs and requirements.</p>
			</div>
			
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>