.body{
	background-color:black;
	margin-top:0px;
}
h1{
	text-align:center;
	color:#e7185c;
}
h2{
	color:white;
	text-align:center;
	font-size:26px;
}
h3{
	color:white;
}
p{
	color:white;
	word-wrap:normal;
	text-indent:90px;
	padding:10px;
}