$col1:#101010;
$col2:#FFFFFF;
$col3:#787878;

.body{
	background-color:black;
	padding-top:10px;
}
img{
	height:222px;
	width:216px;
	border: 5px solid #e7e7e7;
	margin-left:29px;
	transition: all 1s ease-out;
}
img:hover{
	transform: scale(1.2);
	max-width: 100%;
	overflow:hidden;
}
h1{
	color:#e7185c;
	text-align:center;
	margin-top:-60px;
	padding-top:99px;
}
.col-lg-3{
	width:25%;
}
.pan{
	padding-right: 102px;
	padding-left: 0;
	margin-top: 75px;
}
h5{
	font-size:15px;
	color:#797979;
	text-align:center;
	padding-top:32px;
	padding-bottom:19px;
}
h3{
	text-align:center;
	color:#6c7279;
	margin-bottom:35px;
	margin-top:18px;
}

.course{
	text-align:center;
	color:$col2;
	margin-top:0px;
}
.body2{
	background-color:#0c0c0c;
	height:900px;
	margin-top:0px;
}
.middle{
	/*margin-top:110px;*/
	border:5px solid black;
	background-color:#000000;
	color:#080808;
	padding: 20px;

}
.computer{
	text-align:center;
	color:gray;
}
.body3{
	background-color:#101010;
	height:1300px;
	margin-top:75px;
}
.contact{
color:white;
padding-top:90px;
}
.contact-1{
font-size:18px;
color:#797979;
margin-top:-10px;
}
.col{
color:#797979;
font-size:15px;
padding:80px 30px;
margin-right:3%;
height:25px;
}
.row1{
margin-left:25px;
}
.animate:hover {
    color:#e7185c;
	h4{
		color:#e7185c;
	}
}
.second{
margin-top:25px;
}

h4{
	text-align:center;
	color:white;

}
.clr{
color:#a5a5a5;
margin-left: 85px;
}
.clr1{
color:#a5a5a5;
margin-left: 120px;
}
.clr2{
color:#a5a5a5;
margin-left: 50px;
}
.lastrow{
border:5px solid black;
	background-color:#000000;
	height:150px;
	width:540px;
	margin-top:25px;
}
.animate:hover { 
    background-color:#0c0c0c;

}
.mobile{
margin-left: -68px;
}
