<div class="body2">
	
	<h1 class="course">Our Courses</h1>
	<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br>
				semper aliquam quis mattis quam.</h5>
	<div class="container bd">
		<div class="row">
		
			<div class="col-sm-6">
				<div class="middle animate">
					<h4>COMPUTER</h4>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li class="clr">PhotoShop</li>
								<li class="clr">CoralDraw</li>
								<li class="clr">MS-Office</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li class="clr">Tally ERP-9</li>
								<li class="clr">Web Designing</li>
								<li class="clr">MS-Exel</li>
							</ul>
						</div>
					</div>
			
				</div>
			</div>
			<div class="col-sm-6">
				<div class="middle animate">
					<h4>ART,CRAFT & HOBBY</h4><br>
						<div class="row">
							<div class="col-sm-6">
								<ul>
									<li class="clr">Handcraft</li>
									<li class="clr">Painting</li>
									<li class="clr">Rangoli</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul>
									<li class="clr">Drawing</li>
									<li class="clr">Mehendi</li>
									<li class="clr">Embroidery</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="row second">
			<div class="col-sm-6">
				<div class="middle animate">
					<h4>SCIENCE & ROBOTICS</h4><br>
					<div class="row">
						<div class="col-sm-6">
							<ul>
								<li class="clr">Science Experiments</li>
								<li class="clr">Robotics</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li class="clr">Electronics</li>
								<li class="clr">Daily Life Science</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-sm-6">
				<div class="middle animate">
					<h4>SOFTWARE & WEB DEVELOPMENT</h4><br>
						<div class="row">
							<div class="col-sm-6">
								<ul>
									<li class="clr">website Development</li>
									<li class="clr">Web Application</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="mobile">
									<li class="clr">Mobile App Development</li>
									<li class="clr">Software Development</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<div class="lastrow animate">
						<h4>COOKING</h4>
						<div class="row">
							<div class="col-sm-6">
								<ul class="clr1">
									<li>Snacks & Starter</li>
									<li>Deserts</li>
									<li>Breakfast</li>
									<li>Soup</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="clr2">
									<li>Main Course</li>
									<li>Web Designing</li>
									<li>Drinks</li>
									<li>cake & Chocolates</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
		</div>
	</div>
</div>
<div class="body">
			<h1>Courses Gallery</h1>
			
	<div class="container">
		<div class="row pan">
				<div class="col-lg-3">
					<img src="../assets/img/16.jpg" alt="Computer">
						<h3>Computer</h3>
				</div>
				
				<div class="col-lg-3">
					<img src="../assets/img/25.jpg" alt="HandCraft">
						<h3>Art,Craft & Hobby</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/19.jpg" alt="Cooking">
						<h3>Cooking</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/20.jpg" alt="Photoshop">
						<h3>Photoshop</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/21.jpg" alt="Painting">
						<h3>Painting</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/26.jpg" alt="Rongoli">
						<h3>Rongoli</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/23.jpg" alt="Expriments">
						<h3>Science And Robotics</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/24.jpg" alt="Web Devlopment">
						<h3>Web Devlopment</h3>
				</div>
		</div>
	</div>
</div>