
<div class="body">
	<h1>Our Courses</h1>
	<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa<br>
semper aliquam quis mattis quam.</h5>
	<div class="container">
		<div class="row pan">
				<div class="col-lg-3">
					<img src="../assets/img/16.jpg" alt="Computer">
					<h3>Computer</h3>
				</div>
				
				<div class="col-lg-3">
					<img src="../assets/img/25.jpg" alt="HandCraft">
					<h3>Art,Craft And Hobby</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/19.jpg" alt="Cooking">
					<h3>Cooking</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/20.jpg" alt="Photoshop">
					<h3>Photoshop</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/21.jpg" alt="Painting">
					<h3>Painting</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/26.jpg" alt="Rongoli">
					<h3>Rongoli</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/23.jpg" alt="Expriments">
					<h3>Science And Robotics</h3>
				</div>
				<div class="col-lg-3">
					<img src="../assets/img/24.jpg" alt="Web Devlopment">
					<h3>Web Devlopment</h3>
				</div>
		</div>
	</div>
</div>