
<div class="body">
	<h1>Our Courses</h1>
	<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa<br>
semper aliquam quis mattis quam.</h5>
	<div class="container">
		<div class="row pan">
				<div class="col-lg-3">
					<img src="../assets/img/16.jpg" alt="Computer">
					<h3>Computer</h3>
				</div>
				
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/18.jpg" alt="PhotoShop"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/19.jpg" alt="Cooking"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/20.jpg" alt="Painting"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/21.jpg" alt="HandCraft"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/22.jpg" alt="Expriments"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/23.jpg" alt="Web Devlopment"> -->
				<!-- </div> -->
				<!-- <div class="col-lg-3"> -->
					<!-- <img src="../assets/img/24.jpg" alt="Rongoli Design"> -->
				<!-- </div> -->
		</div>
	</div>
</div>